
@use '../abstracts' as *;

.landing__productive {
    margin-top: 16rem;

    @media (min-width: $desktop) {
        display: grid;
        grid-template-columns: 52.5% 47.5%;
        align-items: center;
        margin-top: 13rem;
        padding: 0 7rem;
    }
}

.productive__img {
    width: 100%;
    padding: 0 3.5rem;
}

.productive__text-container {
    margin-top: 4.5rem;
    padding: 0 2.6rem;

    @media (min-width: $desktop) {
        padding-right: 3rem;
    }
}

.productive__title {
    font-family: var(--ff-headings);
    font-size: var(--fs-h2-mobile);

    @media (min-width: $desktop) {
        padding-right: 6rem;
        font-size: var(--fs-h1-desktop);
    }
}

.productive__text {
    margin-top: 2rem;
    line-height: 1.5;

    @media (min-width: $desktop) {
        font-size: var(--fs-productive-desktop);
    }
}

// cyan link
.productive__link {
    margin-top: 1.3rem;
    color: var(--clr-gradient-1);
  
    @media (min-width: $desktop) {
      margin-top: 1.5rem;
      text-align: left;
    }
  
    &:hover a {
      color: var(--clr-white);
      border-bottom: 0.2rem solid var(--clr-white);
    }
  
    &:hover .productive__arrow {
      display: none;
    }
  
    &:hover .productive__arrow--hover {
      display: inline-block;
    }
  }
  
  .productive__link a {
    padding: 0.5rem 0;
    color: var(--clr-gradient-1);
    font-size: var(--fs-nav-mobile);
    font-weight: var(--fw-regular);
    border-bottom: 0.2rem solid var(--clr-gradient-1);;
  
    @media (min-width: $desktop) {
        font-size: var(--fs-nav-desktop);
    }
  
    .productive__arrow,
    .productive__arrow--hover {
      vertical-align: text-bottom;
      padding-left: 0.4rem;
    }
  
    .productive__arrow--hover {
      display: none;
    }
  }
  