@use '../abstracts' as *;

body {
    @include flex-center;
    flex-direction: column;
    
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    font-size: var(--fs-normal-mobile);
    color: var(--clr-white);
    background-color: var(--bg-main);

    @media (min-width: var($desktop)) {
        font-size: var(--fs-normal-desktop);
    }
}

.landing {
    width: 37.5rem;
    border: 1px solid lightcoral;

    @media (min-width: $desktop) {
        width: 144rem;
        border: 1px solid yellowgreen;
    }
}