:root {
    // primary
    --bg-intro-email: hsl(217, 28%, 15%);
    --bg-main: hsl(218, 28%, 13%);
    --bg-footer: hsl(216, 53%, 9%);
    --bg-testimonials: hsl(219, 30%, 18%);

    // accent
    --clr-gradient-1: hsl(176, 68%, 64%);
    --clr-gradient-2: hsl(198, 60%, 50%);

    --clr-gradient-1-1: hsl(176, 68%, 84%);
    --clr-gradient-2-2: hsl(198, 60%, 70%);

    --clr-error: hsl(0, 100%, 63%);

    // neutral
    --clr-white: hsl(0, 0%, 100%);
    --clr-white-a: hsl(0, 0%, 100%, 0.8);
}