:root {
    // font family for Headings, Call-to-actions, Header Navigation
    --ff-headings: "Raleway", sans-serif;

    // font family body
    --ff-body: "Open Sans", sans-serif;

    // font weight
    --fw-regular: 400;
    --fw-semiBold: 600;
    --fw-bold: 700;
    --fw-extraBold: 800;
    --fw-black: 900;

    // font size
    --fs-normal-desktop: 2rem;
    --fs-nav-desktop: 1.6rem;
    --fs-h1-desktop: 4.1rem;
    --fs-button-desktop: 1.6rem;
    --fs-h2-desktop: 2rem;
    --fs-productive-desktop:1.6rem;
    --fs-testimonials-desktop: 1.45rem;
    --fs-name-desktop: 0.9rem;
    --fs-position-desktop: 0.7rem;
    --fs-access-title-desktop: 3.05rem;
    --fs-access-desktop: 1.4rem;
    --fs-email-access-desktop: 1.2rem;
    --fs-access-placeholder-desktop: 1.3rem;

    --fs-normal-mobile: 1.35rem;
    --fs-nav-mobile: 1.2rem;
    --fs-h1-mobile: 2.4rem;
    --fs-h2-mobile: 1.8rem;
    --fs-testimonials-mobile: 1rem;
    --fs-name-mobile: 1.1rem;
    --fs-position-mobile: 0.8rem;
    --fs-footer-location-mobile: 1.6rem;
}