:root {
    // font family for Headings, Call-to-actions, Header Navigation
    --ff-headings: "Raleway", sans-serif;

    // font family body
    --ff-body: "Open Sans", sans-serif;

    // font weight
    --fw-regular: 400;
    --fw-semiBold: 600;
    --fw-bold: 700;
    --fw-extraBold: 800;
    --fw-black: 900;

    // font size
    --fs-normal-desktop: 2rem;
    --fs-nav-desktop: 1.6rem;
    --fs-h1-desktop: 4.1rem;
    --fs-button-desktop: 1.6rem;


    --fs-normal-mobile: 1.35rem;
    --fs-nav-mobile: 1.2rem;
    --fs-h1-mobile: 2.4rem;
}